.lm-member-wrapper {
  width: 100%;
  background-color: #fff;
  overflow: auto;
  // position: fixed;
  // top: 67px;
  // right: 0;
  max-width: 360px;

  &__header {
    padding: 20px 16px;
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    border-bottom: 1px solid #dae1ee;
  }

  &__body {
    padding: 16px 16px 60px 16px;
    overflow-y: auto;
    height: 100vh;
    &__media {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;

      &__imgBox {
        width: 48px;
        height: 48px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 16px;

        img {
          object-fit: cover;
        }
      }

      &__content {
        display: flex;
        align-items: center;

        &--name {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: $dark-color;
          text-transform: capitalize;
        }
      }
    }
  }
}



.lm-hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}