.lm-member-wrapper {
  width: 100%;
  background-color: $light-color;
  overflow: auto;
  max-width: pxToRem(360);

  &__header {
    padding: pxToRem(20) pxToRem(16);
    color: $dark-color;
    font-size: pxToRem(16);
    font-weight: 500;
    line-height: pxToRem(20);
    border-bottom: 1px solid #dae1ee;
  }

  &__body {
    padding: pxToRem(16) pxToRem(16) pxToRem(60) pxToRem(16);
    overflow-y: auto;
    height: 100vh;
    &__media {
      display: flex;
      align-items: center;
      margin: 0 0 pxToRem(20) 0;

      &__imgBox {
        width: pxToRem(48);
        height: pxToRem(48);
        overflow: hidden;
        border-radius: 50%;
        margin-right: pxToRem(16);

        img {
          object-fit: cover;
        }
      }

      &__content {
        display: flex;
        align-items: center;

        &--name {
          font-size: pxToRem(16);
          line-height: pxToRem(20);
          font-weight: 400;
          color: $dark-color;
          text-transform: capitalize;
        }
      }
    }
  }
}



.lm-hide-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}