.lm-replies-wrapper{
    background-color: $bg-color;
    padding-bottom: pxToRem(16);
    padding-top: pxToRem(13);
    padding-left: pxToRem(10);
    &__user-meta{
        font-size: pxToRem(14);
        font-weight: 500;
        line-height: pxToRem(20);
    }
    &__answer{
        font-size: pxToRem(14);
        font-weight: 400;
        line-height: pxToRem(20);
        color: $base-grey-1;
    }
    &__footer{
        padding-right: pxToRem(16);
   
        &__duration{
            font-size: pxToRem(12);
            line-height: 1rem;
            color: rgba(15, 30, 61, 0.4);
        }
        &__post-actions{
            &__likes{
                font-size: pxToRem(12);
                line-height: 1rem;
                color: rgba(15, 30, 61, 0.4);
            }
            &__comments{
                font-size: pxToRem(12);
                line-height: 1rem;
                color: rgba(15, 30, 61, 0.4);
                    &__action{
                        font-size: pxToRem(16);
                        line-height: 1rem;
                        color: $primary-color;
                }
            }
        }
    }
    &__replies-collapse{
        
    }
}

