.lm-feed-wrapper {
  background-color: $bg-color;
  min-height: 100vh;
  width: 100%;
  height: auto; 

  // a{
  //   color: $dark-color;
  //   cursor: default;
  // }

  .lm-feed{
    margin: 0 auto;
    width: 100%;
    max-width: pxToRem(576);
  }

  &__card {
    width: 100%;
    margin-bottom: pxToRem(12);
    background: $light-color;
    border-radius: pxToRem(8);
    // max-width: pxToRem(576);

    &__topic-view-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: pxToRem(8);
      padding: pxToRem(0) pxToRem(16);
    }

    &__header {
      padding: pxToRem(8) pxToRem(16);
      display: flex;
      justify-content: space-between;

      &--title {
        font-size: 1rem;
        font-weight: 500;
        color: $dark-color;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        span {
          background-color: $primary-color;
          border-radius: pxToRem(2);
          padding: pxToRem(2) pxToRem(8);
          font-size: pxToRem(11);
          color: $light-color;
          font-weight: 500;
          line-height: pxToRem(16);
          margin-left: pxToRem(8);
        }
      }
      &--text {
        font-size: pxToRem(14);
        font-weight: 400;
        color: $primary-color;
        line-height: pxToRem(20);

        span {
          font-size: pxToRem(12);
          color: $secondary-color;
          font-weight: 400;
          line-height: pxToRem(16);
          margin: 0 0 0 pxToRem(8);
          padding: 0 0 0 pxToRem(8);
        }
        span::before {
          content: "\2022";
          color: $secondary-color;
          font-size: pxToRem(26);
          position: absolute;
          margin: pxToRem(4) 0 0 -12px;
          height: pxToRem(4);
          width: pxToRem(4);
        }
      }
    }

    &__body {
      &__content {
        padding: 1rem pxToRem(8) 1rem 1rem;
      }
      &__attachment {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
        max-width: pxToRem(576);
        width: 100%;

        .attachments{
          width: 100%;
          background-color: #fff;
          img {
            width: 100%;
            height: auto;
            max-height: pxToRem(310);;
            object-fit: contain;
          }
        }
        .attachment-video{
          width: 100%;
          background-color: #000000;
          video {
            width: 100%;
            height: auto;
            max-height: pxToRem(310); 
            object-fit: contain;
          }
        }
        .attachment-pdf{
          width: 100%;
          // background-color: #000000;
          
          PDFViewer{
            width: 100%;
            height: auto;
            max-height: pxToRem(310);
            object-fit: contain;
          }
        }
        .attachmentOGTag{
          width: 100%;
          background-color: #fff;
          border-radius: 8px;
          border: 1px solid $bg-color;
          max-width: 544px;
          width: 100%;
          margin: 0 auto;
          overflow: hidden;

          &__img{
            width: 100%;
            object-fit: cover;
          }
          &__noImg{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E5F3F2;
            color: #00897B;
            height: 215px;
          }
          &__content{
            padding: 1rem;
            border-top: 1px solid $bg-color;

            a{
              font-size: 16px;
              font-weight: 500;
              color: $dark-color;
              line-height: 20px;
              cursor: pointer;
            }

            &--desc{
              font-size: 14px;
                font-weight: 400;
                color: $secondary-color;
                line-height: 20px;
            }
            &--url{
              font-size: 12px;
                font-weight: 400;
                color: $secondary-color;
                line-height: 20px;
            }
          }
        }
        
      }
      .userTag {
        color: $info-color;
        cursor: pointer;
      }
    }
  }

  
}

.lm-post-header{
  @extend .lm-d-flex;
  @extend .lm-align-items-center;
  padding: pxToRem(8) pxToRem(16);
  background-color: $light-color;
  margin-bottom: pxToRem(16);
  gap: 10px;
  color: #7f8495;
  font-size: pxToRem(16);
  font-weight: 400;
}

 // Responsive Styles for different mobile screens
 @media (max-width: 767px) {
   .lm-feed-wrapper__card {
     border-radius: 0;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .lm-feed-wrapper__card {
      
     // Apply styles for medium-sized mobile screens
    }
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
    .lm-feed-wrapper__card {
       
      // Apply styles for large-sized mobile screens
   }
 }