.lm-feed-wrapper {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: auto;

  a{
    color: $dark-color;
    cursor: default;
  }

  &__card {
    width: pxToRem(576);
    margin-bottom: pxToRem(12);
    background: $light-color;
    border-radius: pxToRem(8);

    &__header {
      padding: pxToRem(8) pxToRem(16);
      display: flex;
      justify-content: space-between;

      &--title {
        font-size: 1rem;
        font-weight: 500;
        color: $dark-color;
        text-transform: capitalize;
        display: flex;
        align-items: center;

        span {
          background-color: $primary-color;
          border-radius: pxToRem(2);
          padding: pxToRem(2) pxToRem(8);
          font-size: pxToRem(11);
          color: $light-color;
          font-weight: 500;
          line-height: pxToRem(16);
          margin-left: pxToRem(8);
        }
      }
      &--text {
        font-size: pxToRem(14);
        font-weight: 400;
        color: $primary-color;
        line-height: pxToRem(20);

        span {
          font-size: pxToRem(12);
          color: $secondary-color;
          font-weight: 400;
          line-height: pxToRem(16);
          margin: 0 0 0 pxToRem(8);
          padding: 0 0 0 pxToRem(8);
        }
        span::before {
          content: "\2022";
          color: $secondary-color;
          font-size: pxToRem(26);
          position: absolute;
          margin: pxToRem(4) 0 0 -12px;
          height: pxToRem(4);
          width: pxToRem(4);
        }
      }
    }

    &__body {
      &__content {
        padding: 1rem pxToRem(8) 1rem 1rem;
      }
      &__attachment {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start; 
        width: pxToRem(576);

        .attachments{
          width: 100%;
          background-color: #000000;
          img {
            width: 100%;
            height: auto;
            max-height: pxToRem(310);;
            object-fit: contain;
          }
        }
        .attachment-video{
          width: 100%;
          background-color: #000000;
          video {
            width: 100%;
            height: auto;
            max-height: pxToRem(310); 
            object-fit: contain;
          }
        }
        .attachment-pdf{
          width: 100%;
          background-color: #000000;
          
          PDFViewer{
            width: 100%;
            height: auto;
            max-height: pxToRem(310);
            object-fit: contain;
          }
        }
        
      }
      .userTag {
        color: $info-color;
        cursor: pointer;
      }
    }
  }
}

.lm-post-header{
  @extend .lm-d-flex;
  @extend .lm-align-items-center;
  padding: pxToRem(8) pxToRem(16);
  background-color: $light-color;
  margin-bottom: pxToRem(16);
  gap: 10px;
  color: #7f8495;
  font-size: pxToRem(16);
  font-weight: 400;
}
