.lm-all-topic-button {
    @extend .lm-d-flex; 
    @extend .lm-align-items-center; 
    @extend .lm-text-capitalize;
    @extend .lm-cursor-pointer;
    @extend .lm-fw-400;
    width: pxToRem(122); 
    border-radius: pxToRem(4);
    padding: pxToRem(8) pxToRem(16);
    font-size: pxToRem(16);
    line-height: pxToRem(20); 
    border: 1px solid $topic-btn-border-color;
    background-color: $light-color;
    justify-content: space-between;  
    color: #666666;
    gap: pxToRem(4);
}

.lm-topic-dropdown{
    background-color: $light-color;  
    
    &__search{
        @extend .lm-d-flex;
        @extend .lm-align-items-center;
        gap: pxToRem(6);
        width: pxToRem(269);
        margin: pxToRem(8) pxToRem(24);
        background-color: $topic-search-bg-color;
        padding: pxToRem(7) pxToRem(8);
        border-radius: pxToRem(10);

        input{
            width: 100%;
            border: none;
            background: none;
            color: #848488;
            font-size: pxToRem(17);
            font-weight: 400;
            line-height: 22px;
            &:focus{
                border: none;
                outline: none;
            }
        }
    }

    &__topic{
        @extend .lm-d-flex;
        @extend .lm-align-items-center;
        @extend .lm-ts-16;
        @extend .lm-fw-400;
        color: #333333;
        gap: 10px; 
    }
}
 
.lm-feed-topic-tile {
    padding: pxToRem(2) pxToRem(8) pxToRem(2) pxToRem(8);
    border-radius: pxToRem(4);
    color: $primary-color;
    background-color: rgba(80, 70, 229, 0.1);
    font-size: pxToRem(14);
    line-height: pxToRem(20);
    font-weight: 400;
    
}