.lm-topic-btn-box {
  margin: 0 auto;
  max-width: pxToRem(576);
}
.lm-all-topic-button {
  @extend .lm-d-flex;
  @extend .lm-align-items-center;
  @extend .lm-text-capitalize;
  @extend .lm-cursor-pointer;
  @extend .lm-fw-400;
  width: pxToRem(122);
  border-radius: pxToRem(4);
  padding: pxToRem(8) pxToRem(16);
  font-size: pxToRem(16);
  line-height: pxToRem(20);
  border: 1px solid $topic-btn-border-color;
  background-color: $light-color;
  justify-content: space-between;
  color: #666666;
  gap: pxToRem(4);
}

.lm-topic-dropdown {
  background-color: $light-color;

  &__search {
    @extend .lm-d-flex;
    @extend .lm-align-items-center;
    gap: pxToRem(6);
    width: pxToRem(269);
    margin: pxToRem(8) pxToRem(24);
    background-color: $topic-search-bg-color;
    padding: pxToRem(7) pxToRem(8);
    border-radius: pxToRem(10);

    input {
      width: 100%;
      border: none;
      background: none;
      color: #848488;
      font-size: pxToRem(17);
      font-weight: 400;
      line-height: 22px;
      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  &__topic {
    @extend .lm-d-flex;
    @extend .lm-align-items-center;
    @extend .lm-ts-16;
    @extend .lm-fw-400;
    color: #333333;
    gap: 10px;
  }
}

// Selected Topic Feed Container

.lmSelectedTopics {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 0 0;
  align-items: center;
  width: 100%;
  max-width: pxToRem(576);
  margin: pxToRem(16) auto 0; 
  overflow: hidden;
  &__tags {
    // @extend .lm-feed-topic-tile;
  }

  &--clear {
    color: $primary-color;
    font-size: 14px;
    cursor: pointer;
  }
}

.lm-feed-topic-tile {
  padding: pxToRem(2) pxToRem(8) pxToRem(2) pxToRem(8);
  border-radius: pxToRem(4);
  color: $primary-color;
  background-color: rgba(80, 70, 229, 0.1);
  font-size: pxToRem(14);
  line-height: pxToRem(20);
  font-weight: 400;
  cursor: pointer;
}


.lm-post-creation-all-topic-button{
  padding: pxToRem(2) pxToRem(8);
  border-radius: pxToRem(4);
  background-color: rgba(80, 70, 229, 0.1);
  line-height: pxToRem(20);
  border-width: 0;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: pxToRem(4);
}
.lm-display-selected-topics-container{
  width: 100%;
  display: flex;
  .lm-topic-tags-container{
    flex: 1;
  }
}

.lm-feed-topic-tile-create {
  align-items: center;
  background: #5046e51a;
  border: none;
  border-radius: pxToRem(4);
  color: $primary-color;
  display: inline-flex;
  font-family: Roboto;
  font-size: pxToRem(14);
  font-style: normal;
  font-weight: 400;
  height: pxToRem(24);
  line-height: pxToRem(20);
  margin-bottom: pxToRem(4);
  margin-right: pxToRem(4);
  padding: pxToRem(2) pxToRem(8);
}
.lm-edit-topics-icon{
  border-radius: pxToRem(4);
  display: inline-flex;
  margin-top: pxToRem(4);
  transform: translateY(-5px);
  width: pxToRem(36);
  background: #5046e51a;
  cursor: pointer;
  height: pxToRem(24);
  padding: pxToRem(2) pxToRem(8);
}