# See https:/help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
core/node_modules
core/.pnp
core/.pnp.js

# testing
core/coverage

# production
core/dist
core/build
core/dist
# misc
core/.DS_Store
core/.env.local
core/.env.development.local
core/.env.test.local
core/.env.production.local

core/npm-debug.log*
core/yarn-debug.log*
core/yarn-error.log*
core/node_modules
core/.mjs
example/node_modules
