.custom-cta-link-input {
    padding: 8px;
    width: 100%;
    font-size: 16px;
    font-family: "Roboto";
    margin-bottom: 16px;
  }
  
  .lm-create-dialog-video-icon-container {
    cursor: pointer;
  }
  
  .create-post-initiate-view-button {
    background-color: var(--lm-feed-primary-color);
    color: white;
    outline: none;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    margin: 12px 18px;
  }
  
  .custom-cta-action {
    height: 40px;
    width: 40px;
    font-family: Roboto;
    font-size: 16px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: var(--lm-feed-primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .lm-wrapper {
    display: flex;
  }
  
  .relative {
    position: relative;
  }
  
  .lm-sidenav-wrapper {
    width: 100%;
    max-width: 92px;
    position: fixed;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .lm-sidenav {
    height: auto;
    max-width: 92px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border: none;
    position: sticky;
    top: 0;
    margin-top: 70px;
  }
  
  .lm-sidenav-icon-wrapper {
    height: 64px;
    width: 100%;
    cursor: pointer;
    margin: 20px 0;
    position: relative;
    margin-right: auto;
    margin-left: auto;
  }
  
  .lm-nav-selected-icons {
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lm-nav-selected-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--lm-feed-primary-color);
    border-radius: 20px;
  }
  
  .moderation-icon {
    margin-bottom: 100px;
  }
  
  .lm-nav-icons {
    height: 64px;
    width: 64px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .lm-selected-background {
    background-color: var(--lm-feed-bg-color);
    border-radius: 20px;
  }
  
  .lm-header-toggle-wrapper {
    display: flex;
    gap: 16px;
  }
  
  .toggle-sidebar-menu-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .toggle-sidebar-menu-heading {
    color: #333333;
    font-weight: 700 !important;
    font-size: 13px;
  }
  
  .lm-sidebar-headings {
    color: #9B9B9B;
    font-size: 14px;
    font-weight: 500;
  }
  
  .lm-sidebar-headings-selected {
    color: var(--lm-feed-primary-color);
  }
  
  .lm-mobile-view-toggle-bar {
    display: none;
    z-index: 10;
    margin-top: 20px;
    margin-left: 10px;
    position: fixed;
  }
  
  /* Mobile Devices */
  @media only screen and (max-width: 480px) {
     .lm-sidenav {
        display: none;
    }
    .moderation-mobile-tab-wrapper, .lm-mobile-view-toggle-bar {
        display: block;
    }
  }
  
  /* Tablets */
  @media only screen and (max-width: 768px) {
     .lm-sidenav {
        display: none;
    }
    .moderation-mobile-tab-wrapper, .lm-mobile-view-toggle-bar {
        display: block;
    }
  }
  
  /* Small screens, laptops */
  @media only screen and (max-width: 1024px) {
    .lm-sidenav {
        display: none;
    }
    .lm-mobile-view-toggle-bar {
        display: block;
    }
  }
  