.lm-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background-color: var(--lm-feed-primary-color);
  color: var(--lm-feed-light-color);
  cursor: pointer;
}

.lm-button:hover {
  background-color: var(--lm-feed-primary-color);
}

.lm-card {
  background-color: var(--lm-feed-light-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 1rem;
}


.lm-card-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.lm-card-content {
  color: var(--lm-feed-dark-color);
}

.lm-card-action {
  margin-top: 1rem;
}

.lm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lm-modal-content {
  background-color: var(--lm-feed-light-color);
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lm-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.lm-input:focus {
  border-color: #007bff;
  outline: none;
}

.lm-checkbox {
  margin-right: 0.5rem;
}

.lm-radio {
  margin-right: 0.5rem;
}

.lm-navbar {
  background-color: var(--lm-feed-dark-color);
  color: var(--lm-feed-light-color);
  padding: 1rem;
}

.lm-navbar-brand {
  font-size: var(--font-size-x-large);
  font-weight: bold;
}

.lm-navbar-nav {
  list-style: none;
}

.lm-nav-item {
  display: inline-block;
  margin-right: 1rem;
}

.lm-nav-link {
  color: var(--lm-feed-light-color);
  text-decoration: none;
}

.lm-nav-link:hover {
  text-decoration: underline;
}

.lm-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
}

.lm-avatar img,
.lm-avatar .avatar-initials {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--lm-feed-primary-color);
  color: var(--lm-feed-light-color);
}

.lm-reply-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  align-self: flex-start;
}

.lm-reply-avatar img,
.lm-reply-avatar .avatar-initials {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: var(--lm-feed-bg-color);
}

.lm-alert {
  padding: 1rem;
  border-radius: 4px;
}

.lm-alert-primary {
  background-color: #007bff;
  color: var(--lm-feed-light-color);
}

.lm-alert-secondary {
  background-color: #6c757d;
  color: var(--lm-feed-light-color);
}

.lm-alert-success {
  background-color: var(--lm-feed-success-color);
  color: var(--lm-feed-light-color);
}

.lm-alert-danger {
  background-color: var(--lm-feed-danger-color);
  color: var(--lm-feed-light-color);
}
.lm-footer-reply-divider {
  border-color: rgba(208, 216, 226, 0.4);
  border-width: calc(var(--border-width)/2);
  border-style: solid;
}

