.lm-feed-delete-dialog{
   width: pxToRem(400);
   height: pxToRem(284);
   position: relative; 
   padding-left: pxToRem(36);
   padding-right: pxToRem(36);
   &__close-icon{
    position: absolute;
   }
   &__title{
    font-size: var(--font-size-large);
    line-height: pxToRem(24);
    font-weight: var(--font-weight-bold-heavy);
    color: var(--lm-feed-dark-color);
    text-align: center;
    margin-top: pxToRem(20);
    margin-bottom: pxToRem(36);
   }
   &__content{
    font-size: var(--font-size-base);
    line-height: pxToRem(20);
    font-weight: var(--font-weight-bold-light);
    color: #666666;
   }
   &__submit{
    font-size: var(--font-size-base);
    line-height: pxToRem(20);
    font-weight: var(--font-weight-bold-heavy);
    padding: pxToRem(14) pxToRem(135);
    background-color: var(--lm-feed-primary-color);
    color: var(--lm-feed-light-color);
    border-radius: pxToRem(8);
    outline: none;
    border: none;
    margin-top: pxToRem(24);
   }
}