.lm-moderation-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 20px auto;
    width: 576px;

    &__left{
        display: flex;
        gap:0.5rem
    }

    &__button{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        color: var(--lm-feed-dark-color);
        background-color: white;
        border: 1px solid #484F6780;
        border-radius: 8px;
        padding: 12px 16px;
        cursor: pointer;
    }

    &__count{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px; /* Adjust size as needed */
        height: 16px;
        background-color: red;
        color: white;
        font-size: 10px;
        font-weight: bold;
        border-radius: 50%;
    }
}

.selected-button{
    background-color: var(--lm-feed-primary-color);
    color: white;
}

.selected-count{
    background-color: #fff;
    color: red;
}

.moderation-separator{
    color: var(--lm-feed-topic-btn-border-color);
    margin-bottom: 20px;
}

.white-bg-container {
    background-color: #fff;
    height: 225px;
    width: 576px;
    border-radius: 8px;
    box-shadow: 0px 0px 24px rgba(72, 79, 103, 0.16);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.moderation-disabled-heading{
    font-size: 16px;
    font-weight: 700;
    margin-top: 8px;
}

.moderation-disabled-subheading{
    font-size: 13px;
    font-weight: 600;
    color: #666666;
}

.moderation-disabled-path{
    color : var(--lm-feed-primary-color);
}

.disabled-icons-size{
    height: 30px;
    width: 30px;
}

.moderation-post-footer-wrapper{
    padding: 12px 16px;
    display: flex;
    gap: 8px;
}

.modeartion-post-header-alert{
    display: flex;
    font-size: 14px;
    font-weight: 400;
    color: var(--lm-feed-card-content-heading);
    padding: 8px 16px;
    gap: 10px;
}

.moderation-post-footer-wrapper-reported{
    display: flex;
    justify-content: space-between;
}

.moderation-footer-button-wrapper{
    display: flex;
    gap: 8px;
}

.moderation-edit-member-permission-button{
 color: var(--lm-feed-primary-color);
 background-color: #EDECFC;
 border: none;
}
