.poll-feed-option-text-input {
  border: 1px solid var(--lm-feed-topic-btn-border-color);
  height: 58px;
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding-right: 48px;
  color: var(--lm-feed-dark-color);
}

.poll-feed-preview-advance-options-votes {
  margin: 16px;
  margin-top: 6px;
}

.poll-feed-option-add-more {
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--lm-feed-black-color);
  border: 1px solid var(--lm-feed-topic-btn-border-color);
  border-radius: 10px;
  padding: 16px;
  cursor: pointer;

  span {
    margin-left: 6px;
  }
}

.poll-feed-preview-advance-options-total {
  margin: 16px 0px;
  display: flex;
}

.poll-feed-total-votes {
  color: var(--lm-feed-primary-color);
}

.poll-feed-preview-advance-options-select {
  margin: 8px 0px;
}

.poll-feed-title {
  margin-bottom: 0.5rem;
  color: #5f657a;
  font-weight: 600;
}

.poll-feed-add-option-dialog-text {
  margin-bottom: 1rem;
}

.poll-feed-submit-button {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.poll-feed-multiple-options-submit-button {
  width: 10rem;
  color: white;
  border: solid white;
}

.poll-feed-multiple-options-submit-button-disabled {
  background-color: #ebebeb;
}

.poll-feed-submit-button-disabled {
  background-color: #ebebeb;
}

.poll-option-img {
  width: auto;
  height: auto;
}

.poll-feed-option-wrapper {
  position: relative;
  color: var(--lm-feed-dark-color);
  overflow: hidden;
  border-radius: 10px;
}

.poll-feed-selected-option-wrapper {
  border: 1px solid var(--lm-feed-primary-color);
  color: var(--lm-feed-primary-color);
}

.poll-text {
  position: relative;
  z-index: 2;
  height: auto;
}

.poll-text-added-by {
  padding: 7px 1rem;
}

.poll-background-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  background-color: var(--lm-feed-bg-color);
  transition: width 0.5s ease;
}

.poll-feed-time-left {
  display: flex;
}

.poll-feed-dot {
  margin: 0px 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.poll-margin-bottom {
  margin-bottom: 1rem;
}
.poll-margin-remove {
  margin-bottom: 0rem;
}

.poll-feed-added-by {
  font-size: var(--font-size-x-small);
  color: #a3a6b2;
}

.poll-results-screen-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  .poll-results-tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #e2e4e7;
    .poll-results-tab {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #666666;
      border-radius: 3px;
      padding: 0px 5px;
      padding-bottom: 5px;
      cursor: pointer;
      font-size: 500;
    }
    .poll-selected-tab {
      color: var(--lm-feed-primary-color);
      border-bottom: 5px solid var(--lm-feed-primary-color);
    }
  }
}

.poll-results-tab2 {
  display: flex;
  flex-direction: column;
}

.poll-results-memeber-list-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  height: 50vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.poll-results-no-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem auto;
}

.poll-results__user-meta {
  margin: 1rem 0rem;
}

.poll-results-no-response-text {
  margin-top: 1rem;
  font-weight: var(--font-weight-bold-heavy);
}

.lm-feed-poll-wrapper2 {
  width: 100%;
  padding: 1rem;
}

.poll-first-vote-text {
  font-size: 14px;
}

.poll-results-margin {
  margin-bottom: 1rem;
}
