.lm-feed-wrapper {
  background-color: var(--lm-feed-bg-color);
  width: 100%;
  margin: 67px 0 0 0;
  justify-content: space-between;
  position: relative;

  .lm-feed {
    margin: 0 auto;
    width: 100%;
    max-width: pxToRem(576);
  }

  &__card {
    max-width: pxToRem(576);
    width: 100%;
    margin-bottom: pxToRem(12);
    background: var(--lm-feed-light-color);
    border-radius: pxToRem(8);
    margin: 0 auto 1rem;
    overflow: hidden;

    &__topic-view-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: pxToRem(8);
      padding: pxToRem(0) pxToRem(16);
    }

    &__header {
      padding: pxToRem(8) pxToRem(16);
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--title {
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-bold-heavy);
        color: var(--lm-feed-dark-color);
        text-transform: capitalize;
        display: flex;
        align-items: center;

        span {
          background-color: var(--lm-feed-primary-color);
          border-radius: pxToRem(2);
          padding: pxToRem(2) pxToRem(8);
          font-size: pxToRem(11);
          color: var(--lm-feed-light-color);
          font-weight: var(--font-weight-bold-heavy);
          line-height: pxToRem(16);
          margin-left: pxToRem(8);
        }
      }
      &--text {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold-light);
        color: var(--lm-feed-primary-color);
        line-height: pxToRem(20);
        @extend .lm-text-capitalize;

        span {
          font-size: var(--font-size-x-small);
          color: var(--lm-feed-secondary-color);
          font-weight: var(--font-weight-bold-light);
          line-height: pxToRem(16);
          margin: 0 0 0 pxToRem(8);
          padding: 0 0 0 pxToRem(8);
        }
        span.edited {
          margin: 0;
          padding: 0;
        }

        span.edited::before {
          height: 0 !important;
          width: 0 !important;
          content: "";
        }
        span::before {
          content: "\2022";
          color: var(--lm-feed-secondary-color);
          font-size: pxToRem(26);
          position: absolute;
          margin: pxToRem(4) 0 0 -12px;
          height: pxToRem(4);
          width: pxToRem(4);
        }
      }
    }

    &__body {
      width: 100%;
      &__heading {
        padding: 0 pxToRem(8) pxToRem(0) 1rem;
        word-wrap: break-word;
        font-weight: var(--font-weight-bold-heavy);
        color: var(--lm-feed-card-content-heading);
        font-size: var(--font-size-base);
      }
      &__content {
        padding: 0.5rem pxToRem(8) 0.5rem 1rem;
        word-wrap: break-word;
      }
      &__attachment {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: pxToRem(576);
        width: 100%;

        .attachments {
          width: 100%;
          background-color: var(--lm-feed-light-color);
          img {
            width: 100%;
            // height: auto;
            // max-height: pxToRem(500);;
            object-fit: contain;
          }
        }
        .attachment-image {
          width: 100%;
          background-color: var(--lm-feed-black-color);
          img {
            width: 100%;
            // height: auto;
            // max-height: pxToRem(500);
            object-fit: contain;
            aspect-ratio: 16/9;
          }
        }
        .attachment-video {
          width: 100%;
          background-color: var(--lm-feed-black-color);
          video {
            width: 100%;
            aspect-ratio: 16/9;
            // height: auto;
            // max-height: pxToRem(310);
            object-fit: contain;
          }
        }
        .attachmentPdf {
          background-color: var(--lm-feed-light-color);
          border-radius: pxToRem(8);
          border: 1px solid var(--lm-feed-bg-color);
          max-width: pxToRem(544);
          width: 100%;
          margin: 0 auto;
          overflow: hidden;

          .react-pdf__Document {
            aspect-ratio: 16/9;
            overflow: hidden;
          }

          &__pdfViewer {
            width: 100%;
            height: pxToRem(250);
            overflow: hidden;
            aspect-ratio: 16/9;
          }

          &__content {
            padding: 1rem;
            border-top: 1px solid var(--lm-feed-bg-color);
            display: flex;
            gap: pxToRem(10);

            img {
              width: pxToRem(40) !important;
            }

            &--icon {
              width: pxToRem(40);
            }
            &--title {
              font-size: var(--font-size-base);
              font-weight: var(--font-weight-bold-heavy);
              color: var(--lm-feed-dark-color);
              line-height: pxToRem(20);
              cursor: pointer;
            }

            &--desc {
              font-size: var(--font-size-small);
              font-weight: var(--font-weight-bold-light);
              color: var(--lm-feed-secondary-color);
              line-height: 20px;
            }

            &--url {
              font-size: var(--font-size-x-small);
              font-weight: var(--font-weight-bold-light);
              color: var(--lm-feed-secondary-color);
              line-height: pxToRem(20);
            }
          }
        }
        .attachmentOGTag {
          background-color: var(--lm-feed-light-color);
          border-radius: pxToRem(8);
          border: 1px solid var(--lm-feed-bg-color);
          max-width: pxToRem(544);
          width: 100%;
          margin: 0 auto;
          overflow: hidden;

          &__img {
            width: 100%;
            object-fit: cover;
            aspect-ratio: 16/8;
          }
          &__noImg {
            @extend .lm-d-flex;
            @extend .lm-justify-content-center;
            @extend .lm-align-items-center;
            background-color: #e5f3f2;
            min-height: pxToRem(215);
            width: 100%;
            object-fit: cover;
            color: #00897b;
            aspect-ratio: 16/8;
          }
          &__content {
            padding: 1rem;
            border-top: 1px solid var(--lm-feed-bg-color);

            a {
              font-size: var(--font-size-base);
              font-weight: var(--font-weight-bold-heavy);
              color: var(--lm-feed-dark-color);
              line-height: pxToRem(20);
              cursor: pointer;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              display: inline-block;
              width: 100%;
            }

            &--desc {
              font-size: var(--font-size-small);
              font-weight: var(--font-weight-bold-light);
              color: var(--lm-feed-secondary-color);
              line-height: pxToRem(20);
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
            &--url {
              font-size: var(--font-size-x-small);
              font-weight: var(--font-weight-bold-light);
              color: var(--lm-feed-secondary-color);
              line-height: pxToRem(20);
            }
          }
        }
        .attachment-unsupported {
          padding: pxToRem(0) pxToRem(20);
        }
      }
      .userTag {
        color: var(--lm-feed-tag-text-color);
        cursor: pointer;
      }
    }
  }
}

.lm-post-header {
  @extend .lm-d-flex;
  @extend .lm-align-items-center;
  padding: pxToRem(16);
  background-color: var(--lm-feed-light-color);
  margin-bottom: pxToRem(16);
  gap: 10px;
  color: var(--lm-feed-action-bar-color);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold-light);
}

// Member list
.lm-member {
  height: auto;
  max-width: 360px;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  border: none;
  position: sticky;
  top: 0;
}

// Member list

//  slick carousel css
.slick-dots {
  bottom: -15px !important;
}
.slick-prev:before,
.slick-next:before {
  font-size: 30px !important;
  // background: url(../images/carousel-arrow.svg) no-repeat ;
  // width: 30px;
  // height: 30px;
}

.slick-next {
  right: 15px !important;
}
.slick-prev {
  transform: scaleX(-1) !important;
}
.slick-prev,
.slick-next {
  height: 34px !important;
  width: 34px !important;
  background: url(../images/carousel-arrow.svg) no-repeat !important;
}

.slick-prev:before,
.slick-next:before {
  content: none !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 9 !important;
  top: 44% !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
}
.slick-dots li.slick-active button:before {
  color: var(--lm-feed-primary-color) !important;
}

.slick-dots li {
  margin: 0 !important;
  height: 15px !important;
  width: 15px !important;
}

.react-pdf__Page__canvas {
  width: 100% !important;
  // aspect-ratio: 16/9;
}

.three-dot-menu-options {
  padding: 18px;
  width: pxToRem(196);
}

// Liked member list
.lmLikedMemberWrapper {
  width: 360px;
  background-color: #fff;
}

.lm-feed-text-link{
  color: var(--lm-feed-link-text-color);
}

.tempReel{
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: pxToRem(20) 0;
  background: #282828;

  video, img{
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
  }
}