.lm-social-action-bar {
  @extend .lm-d-flex;
  background-color: var(--lm-feed-light-color);
  padding: 1.75rem pxToRem(16) pxToRem(10);
  justify-content: space-between;

  &__actions {
    @extend .lm-d-flex;
    @extend .lm-align-items-center;
    @extend .lm-text-capitalize;
    color: var(--lm-feed-action-bar-color);
    gap: pxToRem(16);
    font-size: var(--font-size-base);
    line-height: pxToRem(16);
    font-weight: var(--font-weight-bold-light);

    .comments {
      color: var(--lm-feed-action-bar-color);
    }
  }

  &__lmReply {
    padding: 0 pxToRem(16);
    width: 100%;
    float: left;

    &__userMeta {
      display: flex;

      &__content {
        display: flex;
        align-items: center;
        .content-area {
          flex-grow: 1;
        }
        &--name {
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-bold-heavy);
          line-height: pxToRem(20);
          color: var(--lm-feed-base-grey-1);
          text-transform: capitalize;
        }

        &--title {
          font-size: var(--font-size-small);
          font-weight: var(--font-weight-bold-light);
          color: var(--lm-feed-base-grey-1);
          line-height: pxToRem(20);
          word-break: break-word;
          padding-right: pxToRem(12);
          text-align: justify;
        }
      }

      .like {
        font-size: var(--font-size-x-small);
        font-weight: var(--font-weight-bold-light);
        line-height: pxToRem(16);
        color: #a3b2bd;
        gap: pxToRem(10);

        .replies {
          font-size: var(--font-size-x-small);
          color: var(--lm-feed-primary-color);
          font-weight: var(--font-weight-bold-light);
          line-height: pxToRem(16);
          margin: 0 0 0 pxToRem(8);
          padding: 0 0 0 pxToRem(8);
        }
        // .replies::before {
        //   content: "\2022";
        //   color: var(--lm-feed-secondary-color);
        //   font-size: var(--font-size-large);
        //   position: absolute;
        //   margin: pxToRem(1) 0 0 -12px;
        //   height: pxToRem(2);
        //   width: pxToRem(2);
        // }
        .replies.bullet::before {
          content: "\2022";
          color: var(--lm-feed-secondary-color);
          font-size: var(--font-size-large);
          position: absolute;
          margin: pxToRem(1) 0 0 -12px;
          height: pxToRem(2);
          width: pxToRem(2);
        }
        // .replies.bullet {
        //   content: "\2022";
        //   color: var(--lm-feed-secondary-color);
        //   font-size: var(--font-size-large);
        //   position: absolute;
        //   margin: pxToRem(1) 0 0 -12px;
        //   height: pxToRem(2);
        //   width: pxToRem(2);
        // }
      }
    }
  }

  &__answer {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-light);
    line-height: pxToRem(20);
    color: var(--lm-feed-base-grey-1);
  }
  &__footer {
    padding-right: pxToRem(16);

    &__duration {
      font-size: var(--font-size-x-small);
      line-height: 1rem;
      color: rgba(15, 30, 61, 0.4);
    }
    &__post-actions {
      &__likes {
        font-size: var(--font-size-x-small);
        line-height: 1rem;
        color: rgba(15, 30, 61, 0.4);
      }
      &__comments {
        font-size: var(--font-size-x-small);
        line-height: 1rem;
        color: rgba(15, 30, 61, 0.4);
        &__action {
          font-size: var(--font-size-base);
          line-height: 1rem;
          color: var(--lm-feed-primary-color);
        }
      }
    }
  }
}

.lm-social-action-bar__lmReply
  .lm-social-action-bar__lmReply
  .lm-social-action-bar__lmReply
  .lm-social-action-bar__lmReply,
.lm-social-action-bar__lmReply .lm-social-action-bar__lmReply {
  padding-right: 0;
}

.lm-social-action-bar__lmReply .lm-social-action-bar__lmReply .pipe {
  display: none;
}
.lm-social-action-bar__lmReply .lm-social-action-bar__lmReply .commentTitle {
  display: none;
}

.lm-feed-reply {
  position: relative;
  .reply-text-area {
    line-height: pxToRem(20);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-light);
    height: auto;
    margin: 0 pxToRem(16);
    border: 1px solid var(--lm-feed-topic-btn-border-color);
    border-radius: pxToRem(24);
    padding: pxToRem(10) pxToRem(16);
    min-height: pxToRem(40);
    outline: none;
    position: relative;
  }
  .edit-reply-text-area {
    line-height: pxToRem(20);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold-light);
    height: auto;
    margin: 0 pxToRem(16) 0 0;
    border: 1px solid var(--lm-feed-topic-btn-border-color);
    border-radius: pxToRem(24);
    padding: pxToRem(10) pxToRem(16);
    min-height: pxToRem(40);
    outline: none;
    position: relative;
  }
  .taggingBox {
    top: 81% !important;
    left: 70px !important;
    border-radius: 8px;
    box-shadow: 0 1px 16px 0 var(--lm-feed-black-color);
    max-height: 210px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 260px;
    z-index: 9;
  }
}
.reply-text-area[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--lm-feed-secondary-color);
}
.edit-reply-text-area[contenteditable="true"]:empty:before {
  content: attr(data-placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
  color: var(--lm-feed-secondary-color);
}

.liked-comment {
  width: 16px;
  height: 16px;
}

.qna-feed-action-bar {
  border-top: 1px solid #eceff3;
  padding: 10px;
}

.lm-social-action-bar__actions__QNA {
  width: 100%;
  float: left;
  display: block;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.upvote-block {
  background: #e6ebf5;
  padding: 8px 10px;
  border-radius: 20px;
  border: 1px solid #d0d8e2;
  color: #666;
}

.mt-1 {
  margin: 5px 0 0 0;
}
