.lm-sidenav-wrapper {
    width: 100%;
    max-width: pxToRem(96);
    position: fixed;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .lm-sidenav{
    height: auto;
    max-width: 96px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    border: none;
    position: sticky;
    top: 0;
  }

  .lm-sidenav-icon-wrapper{
    height: pxtoRem(64);
    width: pxtoRem(64);
    cursor: pointer;
    margin: 20px 0px;
    position: relative;
  }
  
  .lm-nav-selected-icons{
    height: pxToRem(64);
    width: pxToRem(64);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lm-nav-selected-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var( --lm-feed-primary-color); 
    border-radius: 20px;
  }

  .moderation-icon{
    margin-bottom: 100px;
  }

  .lm-nav-icons{
    height: pxToRem(64);
    width: pxToRem(64);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lm-selected-background{
    background-color: var(--lm-feed-bg-color);
    border-radius: 20px;
  }
