.lm-all-topic {
  border-bottom: 1px solid #edeff3;
  width: 100%;
  margin: 0 pxToRem(8);
  padding: 0 0 pxToRem(10) 0;
}

.lm-topic-btn-box {
  margin: 0 auto;
  max-width: pxToRem(576);
  width: 100%;
}
.lm-all-topic-button {
  @extend .lm-d-flex;
  @extend .lm-align-items-center;
  @extend .lm-text-capitalize;
  @extend .lm-cursor-pointer;
  @extend .lm-fw-400;
  // width: pxToRem(122);
  border-radius: pxToRem(4);
  padding: pxToRem(8) pxToRem(16);
  font-size: pxToRem(16);
  line-height: pxToRem(20);
  border: 1px solid var(--lm-feed-topic-btn-border-color);
  background-color: var(--lm-feed-light-color);
  justify-content: space-between;
  color: #666666;
  gap: pxToRem(4);
}

.lm-topic-dropdown {
  background-color: var(--lm-feed-light-color);

  &__search {
    @extend .lm-d-flex;
    @extend .lm-align-items-center;
    gap: pxToRem(6);
    width: pxToRem(269);
    margin: pxToRem(8) pxToRem(24);
    background-color: var(--lm-feed-topic-search-bg-color);
    padding: pxToRem(7) pxToRem(8);
    border-radius: pxToRem(10);

    input {
      width: 100%;
      border: none;
      background: none;
      color: #848488;
      font-size: pxToRem(17);
      font-weight: 400;
      line-height: pxToRem(22);
      &:focus {
        border: none;
        outline: none;
      }
    }
  }

  &__topic {
    @extend .lm-d-flex;
    @extend .lm-align-items-center;
    @extend .lm-ts-16;
    @extend .lm-fw-400;
    color: var(--lm-feed-card-content-heading);
    width: 100%;
    margin: 0 8px;

    span {
      margin-left: 0;
      padding-left: 0;
    }
  }
}

// Selected Topic Feed Container

.lmSelectedTopics {
  // padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: pxToRem(10) 0 0 0;
  width: 100%;
  max-width: pxToRem(576);
  margin: pxToRem(16) auto 0;
  overflow: hidden;
  &__tags {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &--clear {
    color: var(--lm-feed-primary-color);
    font-size: pxToRem(14);
    cursor: pointer;
  }
}

.lm-feed-topic-tile {
  padding: pxToRem(5) pxToRem(8);
  border-radius: pxToRem(4);
  color: var(--lm-feed-primary-color);
  background-color: rgba(80, 70, 229, 0.1);
  font-size: pxToRem(14);
  line-height: pxToRem(20);
  font-weight: 400;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;

  span {
    display: flex;
    align-items: center;
  }
}

.lm-post-creation-all-topic-button {
  padding: pxToRem(2) pxToRem(8);
  border-radius: pxToRem(4);
  background-color: rgba(80, 70, 229, 0.1);
  line-height: pxToRem(20);
  border-width: 0;
  color: var(--lm-feed-primary-color);
  display: flex;
  align-items: center;
  gap: pxToRem(4);
}
.lm-display-selected-topics-container {
  width: 100%;
  display: flex;
  .lm-topic-tags-container {
    flex: 1;
  }
}

.lm-feed-topic-tile-create {
  align-items: center;
  background: var(--lm-feed-primary-color);
  border: none;
  border-radius: pxToRem(4);
  color: var(--lm-feed-primary-color);
  display: inline-flex;
  font-size: pxToRem(14);
  font-weight: 400;
  height: pxToRem(24);
  line-height: pxToRem(20);
  margin-bottom: pxToRem(4);
  margin-right: pxToRem(4);
  padding: pxToRem(2) pxToRem(8);
}
.lm-edit-topics-icon {
  border-radius: pxToRem(4);
  display: inline-flex;
  margin-top: pxToRem(4);
  transform: translateY(-5px);
  width: pxToRem(36);
  background: var(--lm-feed-primary-color);
  cursor: pointer;
  height: pxToRem(24);
  padding: pxToRem(2) pxToRem(8);
}
