:root {
  --dark: #484f67;
  --white: #ffffff;
  --bg: #e6ebf5;
  --purple: #5046e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
}

.lmFeedWrapper {
  background: var(--bg);
  width: 100%;
  height: 100vh;
  display: flex;
}
