.custom-cta-link-input {
    padding: 8px;
    width: 100%;
    font-size: 16px;
    font: "Roboto";
    margin-bottom: 16px;
}

.lm-create-dialog-video-icon-container {
    cursor: pointer;
}

.create-post-initiate-view-button {
    background-color: var(--lm-feed-primary-color);
    color: white;
    outline: none;
    padding: 8px 16px;
    border: none;
    font-size: 16px;
    margin: 12px 18px;
}

.custom-cta-action {
    height: 40px;
    width: 40px;
    font: Roboto;
    font-size: 16px;
    border: none;
    outline: none;
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: var(--lm-feed-primary-color);
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.relative {
    position: relative;
}